* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
    margin-left: 20px;
}

.expand-button {
    background: orange;
    border: none;
}

.expand-button img {
    width: 15px;
    height: 15px;
}