/*
NOTE:
Space is being measured carefully to ensure alignment between words, carets, and dashes.
The space to the left of each word is 16px.
This includes the caret sign, if it exists on the node
When the caret sign is included, the width is 10px and the remaining space is 6px.
*/

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1em;
}

.app {
    background: lightgoldenrodyellow;
}

header {
    background: chocolate;
    padding: 10px 0;
}

h1 {
    line-height: normal;
    text-align: center;
    text-decoration: underline;
}

.tree-view {
    padding: 20px;
}

.corrected {
    padding-left: 16px;
}

ul {
    margin: 4px 0 4px 4px;
    padding-left: 10px;
    border-left: 2px dashed gray;
}

li {
    list-style: none;
}

.tree-container {
    margin: 4px 0;
}

.tree-header {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    cursor: pointer;
}

.expand-button {
    background: none;
    border: none;
}

.expand-button img {
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
}
